<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Root:</strong>
    <%= book.root %>
  </p>

  <p>
    <strong>Assets:</strong>
    <%= book.assets %>
  </p>

  <p>
    <strong>Equity:</strong>
    <%= book.equity %>
  </p>

  <p>
    <strong>Liabilities:</strong>
    <%= book.liabilities %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= book.income %>
  </p>

  <p>
    <strong>Expenses:</strong>
    <%= book.expenses %>
  </p>

  <p>
    <strong>Checking:</strong>
    <%= book.checking %>
  </p>

  <p>
    <strong>Savings:</strong>
    <%= book.savings %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= book.settings %>
  </p>

</div>
