<div id="<%= dom_id entry %>">
  <p>
    <strong>Book:</strong>
    <%= entry.book_id %>
  </p>

  <p>
    <strong>Numb:</strong>
    <%= entry.numb %>
  </p>

  <p>
    <strong>Post date:</strong>
    <%= entry.post_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entry.description %>
  </p>

  <p>
    <strong>Fit:</strong>
    <%= entry.fit_id %>
  </p>

  <p>
    <strong>Lock version:</strong>
    <%= entry.lock_version %>
  </p>

</div>
